<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<!-- Add self introductions -->

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Ruo-Qi Qin / 秦若琦
              </h1>
              <p>我是即将毕业于<a href="https://www.manchester.ac.uk/">曼彻斯特大学</a><a href="https://www.gdi.manchester.ac.uk/">全球发展研究院</a>管理信息系统专业的硕士研究生，导师是侯烨研究员。我本科毕业于<a href="https://www.bjtu.edu.cn/">北京交通大学</a><a href="http://sem.bjtu.edu.cn/">经济管理学院</a>会计学专业。目前热衷于<a href="https://baike.baidu.com/item/%E4%BC%9A%E8%AE%A1%E5%AD%A6/1345393?fr=aladdin">会计学</a>与<a href="https://baike.baidu.com/item/%E4%BF%A1%E6%81%AF%E7%AE%A1%E7%90%86/450895">信息管理</a>的交叉方向，同时对<a href="https://baike.baidu.com/item/%E7%AE%A1%E7%90%86%E5%AD%A6/250?fr=aladdin">管理学</a>比较感兴趣。
              </p>
              <p>
                Email: rokki_qin@163.com
              </p>
              <p style="text-align:center">
                <!-- <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp; -->
                <!-- <a href="https://github.com/zfgao66">GitHub</a> &nbsp;/&nbsp; -->
                <!-- <a href="https://space.bilibili.com/202753449?from=search&seid=17623024445495687669">BiliBili</a> &nbsp;/&nbsp; -->
                <!-- <a href="https://weibo.com/u/5113791045">新浪微博</a> &nbsp;/&nbsp; -->
                <!-- <a href="https://www.zhihu.com/people/rokki-78"> 知乎 </a> -->
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/qinruoqi_cir.jpg">
            </td>
          </tr>
        </table>
         <!-- Add Education -->
         <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>教育经历</h2>
              <li type="disc"> 管理信息系统，硕士， 曼彻斯特大学， 2020年9月-2021年12月</li>
              <li type="disc"> 会计学     ， 学士， 北京交通大学，2016年9月-2020年6月</li>              
              </p>
            </td>
          </tr>
        </table>

        <!-- Add Pubulications  -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>发表文章</h2>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        * 通讯作者
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
            </td>
          </tr>
        </table> 

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>实习经历</h2>
              <p> </p>
              <h3>农银金融科技有限责任公司人力资源部，实习生，2021年7月--2021年9月</h3>
              <p>
                <li type="square"> 协调公司各部门有效的开发和利用人力，满足公司经营管理需要；</li>
                <li type="square"> 完成200名左右校招人员与社招人员的入职报到等工作；</li>
                <li type="square"> 完成新人员社保信息录入与部分员工社保信息更新维护；</li>
                <li type="square"> 完成社招人员的查档工作；</li>
                <li type="square"> 完成绩效考核系统的测试工作；</li>
                <li type="square"> 建立并及时更新员工档案，并做好月度人员异动统计；</li>
                <li type="square"> 负责维护员工社保信息；</li>
                <li type="square"> 协助完成绩效考核、薪酬管理等工作。</li>
                </p>
              <h3>联想集团全球信用部美洲区，实习生，2021年3月--2021年5月</h3>
              <p>
                <li type="square"> 参与全球企业信用评级工作；</li>
                <li type="square"> 协助公司搭建信用部门新系统的模型搭建；</li>
                <li type="square"> 客户日常交易信用监控，涉及数据整合，应收分析，逾期分析；</li>
                <li type="square"> 监控客户信用限额，提供超限检查报告；</li>
                <li type="square"> 客户融资销售数据监控整理，参与融资月报编制。</li>
                </p>
              <h3>国信证券固定收益事业部发行岗，实习生，2019年7月--2019年10月</h3>
              <p>
                <li type="square"> 撰写发债可行性分析，编写偿债能力分析报告，撰写部分资产证券化的发行材料；</li>
                <li type="square"> 整理底稿，制作PPT，撰写立项报告、募集说明书，核查意见等其他申报材料。</li>
                </p>
              <h3>大华会计师事务所（特殊普通合伙）审计员，实习生，2019年1月--2019年4月</h3>
              <p>
                <li type="square"> 负责北京国学时代文化传播有限公司及其子公司2018年度年报审计中的货币资金、财务费用、管理费用等的底稿编制工作；</li>
                <li type="square"> 协助审计员对其公司进行财务尽职调查，往来科目审查，分析财务数据；</li>
                <li type="square"> 将公司可能存在的风险及时上报给管理层，并提出对减轻交易风险相关建议；</li>
                <li type="square"> 负责询证函的统计工作，协助审计员整理项目纸质资料并归纳编制底稿，支援部门内其他基础性事务。</li>
                </p>
              </p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>项目经历</h2>
              <p> </p>
              <h3>香港大学与英国保诚集团合作项目，项目经理，2018年8月</h3>
              <p>
                <li type="square"> 参加商业案例分析演说和现金流比赛，要求分析高盛集团的投资策略及参加买卖基金模拟；</li>
                <li type="square"> 负责制作团队介绍视频，用Pr软件制作视频脚本、拍摄及剪辑，制作全英文演讲稿。</li>
                </p>
              <h3>大学生创新创业训练计划项目，数据分析负责人，2018年3月--2019年3月</h3>
              <p>
                <li type="square"> 分析沪深A股上市公司研发投入、市场竞争敏感度与企业竞争相对位置的关系；</li>
                <li type="square"> 利用Stata软件分析沪深A股上市公司研发投入与经营绩效的关系。</li>
                <small>*比赛期间发表社会科学类研究论文两篇:一篇为《现代商业》录用(第一作者)，一篇为《经济管理》录用(第三作者)，项目结题评级为国家级项目。</small>
                </p>
              </p>
            </td>
          </tr>
        </table>
        <!-- Add Selected Awards and Honors site -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>获奖情况</h2>
              <li type="disc"> 大学生创新创业训练计划，国家级，2019年</li>
              <li type="disc"> 寒假招生实践活动优秀个人，北京交通大学， 2018年</li>
              <li type="disc"> 社会工作奖学金，北京交通大学，2018年</li>
              <li type="disc"> 经济管理学院社团优秀部长，北京交通大学，2018年</li>
              <li type="disc"> 优秀共青团员，北京交通大学，2018年</li>
              <li type="disc"> 英语文化节一等奖，北京交通大学，2018年</li>
              <li type="disc"> 优秀共青团员，北京交通大学，2017年</li>
              <li type="disc"> 证券模拟大赛三等奖，北京交通大学，2017年</li>

              </p>
            </td>
          </tr>
        </table>

      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>校园工作</h2>
            <li type="disc"> 共青团北京交通大学委员会宣传部，主任，2017年9月--2018年6月</li>
            <li type="disc"> 北京交通大学经济管理学院科学与技术学会宣传部，部长，2017年9月--2018年6月</li>
            </p>
          </td>
        </tr>
      </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>技能及证书</h2>
              <p> </p>
              <h3>语言能力</h3>
                <li type="disc"> <a href="https://www.chinaielts.org/">雅思（IELTS）</a> 6.5/9</li>
                <li type="disc"> <a href="https://pearsonpte.com/">PTE学术英语考试（Pearson English Language Test）</a> 72/90</li>
              <h3>办公软件</h3>
                <li type="disc"> Word、Excel、PowerPoint等Office办公软件【精通】</li>
                <li type="disc"> SPSS、Stata等统计软件【熟练】</li>
                <li type="disc"> Wind等金融数据库【熟练】</li>
                <li type="disc"> Python、C、MySQL【初步掌握】</li>
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>BTW</h2>
                <li type="disc"> 喜欢画国画、弹吉他和摄影</li>
                <li type="disc"> 热爱运动，喜欢游泳和跑步</li>
                <li type="disc"> 特别爱剪视频，"用Vlog记录生活是一种生活态度!"，<a href="https://space.bilibili.com/202753449?from=search&seid=17623024445495687669">这是我的Bilibili~</a></li>
                <li type="disc"> 养了一只叫咕噜的猫咪~</li>
              </p>
            </td>
          </tr>
        </table>
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table> -->

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html> -->